body {
  height: 100vh;
}
.App{
  padding-bottom:40px;
}
.w3-ul {
  shadow: #000000 15%;
  background: #FFFFFF 100%;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

li {
  min-height: 90px;
  border: 1px solid #F5F5F5;
  padding: 15px 25px 15px 25px;
}
li:hover{
  cursor:pointer;
}

img {
  height: 70px;
  margin-right: 20px;
}
button{
  font-size: 14px;
  font-family: Roboto-Regular;
  padding: 8px 14px 8px 14px;
  background: #0080FF 100%;
  border-radius: 1px;
  color: white;
  width:555px;
  border-style: none;
}

button:hover {
  background: #044FB3;
  cursor: pointer;
  font-size: 16px;
}

li > button {
  margin-left: 20px;
  margin-top: 15px;
}

.loadButton > button {
  font-size: 14px;
  margin-top: 40px;
}

.bio {
  font-family: Roboto-Regular;
  width:50px; 
} 

.bio span:first-child{
  font-size: 16px;
}

.biography{
  font-size: 14px;
  color: grey;
  white-space: nowrap; 
  width: 230px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.loadButton{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

@media screen and (max-width: 630px) {
  button {
      width:100%;
  }
}
@media screen and (max-width: 400px){
  .biography{
    width:150px;
    word-wrap: break-word;
  }
}